.image-wrap {
width:960px;
height:636px;
position:relative;
}
.image {
width:960px;
height:636px;
display:none;
}
.i1 { background: url(../images/pic1.png) no-repeat; }
.i2 { background: url(../images/pic2.png) no-repeat; }
.i3 { background: url(../images/pic3.png) no-repeat; }
.i4 { background: url(../images/pic4.png) no-repeat; }
.i5 { background: url(../images/pic5.png) no-repeat; }
.i6 { background: url(../images/pic6.png) no-repeat; }
.i7 { background: url(../images/pic7.png) no-repeat; }

.sign1 {
top:350px;
padding:20px;
z-index:100;
background:rgba(0,0,0,0.4);
position:absolute;
margin:10%;
color:white;
text-shadow: 0px 1px 0px black;
width:80%;
}
.sign1 h2, .sign1 h3, .sign1 h4 {
color:white !important;
}
